html, body {
  font-family: Montserrat, Helvetica, arial, sans-serif;
  background-color: whitesmoke;
}

#app__body {
  background-color: white;
  width: 980px;
  margin: 0 auto;
  padding: 20px 60px;
}

.lease__schedule {
  // background-color: red;
}

.schedule__entry {
  // background-color: blue;
}
