html, body {
  font-family: Montserrat, Helvetica, arial, sans-serif;
  background-color: whitesmoke;
}

#app__body {
  background-color: white;
  width: 1080px;
  margin: 0 auto;
  padding: 20px 60px;
}

.lease__schedule {
  background-color: whitesmoke;
  padding: 12px;
}

.schedule__entry {
  background-color: $color__white;
  border: 2px solid linen;
  margin: 30px 0;
  padding: 0 18px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    'title table'
    'foo foo'
    'notes notes';

  &:last-of-type {
    margin-bottom: 0;
  }
}

.schedule__heading {
  margin: 12px 0 24px;
}

.entry__title {
  grid-area: title;
  margin: 32px 0;
}

.entry__table {
  grid-area: table;
  margin: 32px 0;

  tr:nth-child(even) {
    background-color: whitesmoke;
  }

  th, td {
    padding: 6px;
    border: 1px solid whitesmoke;
  }

  th {
    width: 25%;
  }
}

.entry__notes-heading {
  grid-area: foo;
  margin: 0;
}

.entry__notes-list {
  font-size: 1.2rem;
  font-style: italic;
  list-style-type: decimal;
  padding-left: 1em;
  grid-area: notes;
  margin-top: 0;
}

.notes-list__item {
  margin: 6px 0;
}